<div class="card shadow-sm">
    <img src="{{'assets/images' + book.img + '.jpg'}}" alt="" class="bd-placeholder-img card-img-top" width="100%">

    <div class="card-body">
        <p class="card-text">{{ book.name }}</p>
        <p class="card-text">{{ book.category }}</p>
        <p class="card-text">{{ book.quantity }}</p>
        <p class="card-text">{{ book.price | currency:'BRL' }}</p>

        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-primary"></button>
            <button type="button" class="btn btn-sm btn-outline-primary"></button>
        </div>
    </div>
</div>